<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Elasticsearch.Net" version="2.3.1" targetFramework="net452" />
  <package id="Metrics.NET" version="0.3.5" targetFramework="net452" />
  <package id="Metrics.NET.InfluxDB" version="1.0.38" targetFramework="net452" />
  <package id="Microsoft.Diagnostics.Tracing.EventSource.Redist" version="1.1.28" targetFramework="net452" />
  <package id="Microsoft.ServiceFabric" version="5.0.217" targetFramework="net452" />
  <package id="Microsoft.ServiceFabric.Actors" version="2.0.217" targetFramework="net452" />
  <package id="Microsoft.ServiceFabric.Data" version="2.0.217" targetFramework="net452" />
  <package id="Microsoft.ServiceFabric.Services" version="2.0.217" targetFramework="net452" />
  <package id="Polly" version="4.2.0" targetFramework="net452" />
  <package id="Serilog" version="1.5.14" targetFramework="net452" />
  <package id="Serilog.Sinks.Elasticsearch" version="3.0.134" targetFramework="net452" />
</packages>