<#@ template debug="true" hostSpecific="true" #>
<#@ output extension=".cs" #>
<#@ Assembly Name="$(SolutionDir)Bin\TestDomain.dll" #>
<#
    List<Assembly> asms = new List<Assembly>(AppDomain.CurrentDomain.GetAssemblies()
	   .Where(x => x.GetName().Name.Contains("TestDomain")));
    GenerateProtocol(asms);
#>
<#@ include file="..\Core\DomainGeneration\AsyncProtocol.ttinclude" #>