<#@ template debug="true" hostSpecific="true" #>
<#@ output extension=".cs" #>
<#@ Assembly Name="$(SolutionDir)Bin\TestDomain.dll" #>
<#
    GenerateProtocol(AppDomain.CurrentDomain.GetAssemblies().Where(x => x.GetName().Name.Contains("TestDomain")));
#>
<#@ include file="..\Core\DomainGeneration\EntityGeneration.ttinclude" #>





