<#@ template debug="true" hostSpecific="true" #>
<#@ output extension=".cs" #>
<#@ Assembly Name="$(SolutionDir)Bin\SampleC2SProtocol.dll" #>
<#@ Assembly Name="$(SolutionDir)Bin\SampleS2SProtocol.dll" #>
<#
    List<Assembly> asms = new List<Assembly>(AppDomain.CurrentDomain.GetAssemblies()
	   .Where(x => x.GetName().Name.Contains("SampleC2SProtocol") || x.GetName().Name.Contains("SampleS2SProtocol")));
    GenerateAsyncProtocol("Protocol.Generated", asms);
#>
<#@ include file="..\Core\DomainGeneration\AsyncProtocol.ttinclude" #>