<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="gateway endpoint" value="127.0.0.1:20001" />
    <add key="user count" value="1" />
    <add key="test duration" value="120" />
    <add key="messages in batch" value="100" />
    <add key="sleep duration" value="1" />
    <add key="mbrace servicebusconnection" value="Endpoint=sb://mbrace9e85e748.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=9vLEoR1yif5agPv4C3B+aKdnOz8kpR9Cn9lv0U5uAF0=" />
    <add key="mbrace storageconnection" value="DefaultEndpointsProtocol=https;AccountName=mbrace397b6e2b;AccountKey=6K+CM2Be7z+O3V5fLZPjixJAZw0C1k3VsGqLRavlBWFK/GTYTJa73sEY6egkeMdOW+ll0LOASm204OQb0Y5zlA==" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="FSharp.Core" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.4.0.0" newVersion="4.4.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>