<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="gateway endpoint" value="127.0.0.1:20001" />
    <add key="user count" value="1" />
    <add key="test duration" value="120" />
    <add key="messages in batch" value="100" />
    <add key="sleep duration" value="1" />
    <add key="mbrace servicebusconnection" value="EndPoint=sb://mbracebea7a46d.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=/ETYrNcarBcQ5rN0tjbWocjNdehk9+Gn046o1zpqD/c=" />
    <add key="mbrace storageconnection" value="DefaultEndpointsProtocol=https;AccountName=mbrace93193160;AccountKey=e2lx0MS2gyczpQOk8QuaeAbU8P0PB3CCyg+1nIYBSSV2tkj2GIYbQx66BHDKGH4CtO0P8msyjZcCukNQsrqbAw==" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="FSharp.Core" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.4.0.0" newVersion="4.4.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>